html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

/*==== NAV BAR ====*/
nav{
    background-color: var(--section-bg);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 55px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-main);
    transition: 0.3s;
}

nav a:hover{
    background-color: var(--color-primary-hover);
    color: white;
}

nav li:first-child{
    margin-right: auto;;
}

nav li:first-child a{
    color: var(--color-primary);
    font-size: x-large;
    font-weight: bold;
}

nav li:first-child a img{
    height: 85%;
    margin-right: 15%;

}

nav li:first-child a:hover{
    background-color: transparent !important;
}

.dark-mode nav li:first-child a{
    color: var(--color-white);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--section-bg);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    color: var(--text-main);
}

.sidebar a:hover{
    background-color: var(--color-primary-hover)
}

.menu-button{
    display: none;
    fill: var(--color-primary);
}

.menu-button:hover{
    fill: white;
}

.dark-mode .menu-button{
    fill: var(--color-white);
}

.close-button{
    fill: var(--color-primary);
}

.dark-mode .close-button{
    fill: var(--color-white);
}

img{
    border-radius: 16%;
    margin-top: 5%;
    margin-left: 41%;
}



/* ================ form ================= */
form{
    display: flex;
    flex-direction: column;
    gap: 25px; 
    margin-top: 3%;
    margin-left: 43%;
    
}
.input-box {
    position: relative;
    width: 250px;
}

.input-box input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid var(--color-gray-light);
  border-radius: 16px;
  background: white;
}

.input-box label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:   var(--text-light);
  /* pointer-events: none; */
  transition: 0.3s ease;
  background: var(--body-bg);
  padding: 0 5px;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 15px;
  color: var(--btn-secondary-hover);
}
.input-box input:focus{
    outline-color: var(--btn-secondary-hover);
}

.input-box textarea {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid var(--color-gray-light);
  border-radius: 16px;
  background: white;
}

.input-box textarea:focus + label,
.input-box textarea:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 15px;
  color: var(--btn-secondary-hover);
}
.input-box textarea:focus{
    outline-color: var(--btn-secondary-hover);
}


/*==== FOOTER ====*/
footer{
    background-color: var(--color-white);
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark-mode footer{
    background-color: var(--section-bg);
}

#footer-scci{
    margin-top: 8%;
    font-weight: bold;
    font-size: x-large;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
}

.dark-mode #footer-scci{
    color: var(--text-main);
}

footer img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

footer div{
    display: flex;
    flex-direction: row;
    margin-top: 1%;

}

#scci-footer-description{
    padding: 0 30px 0;
}

footer hr{
    color: var(--color-primary);
    width: 90%;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}